{
  "presets": [
    "es2015",
    "es2016"
  ],
  "plugins": [
    "syntax-async-functions",
    "transform-object-rest-spread",
    "transform-es2015-destructuring",
    "transform-regenerator"
  ]
}
