{
  "extends": "airbnb-base",
  "ecmaFeatures": {
    "modules": true,
    "classes": true,
    "generators": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "max-len": 0,
    "strict": [2, "global"],
    "semi": [2, "never"],
    "quotes": [2, "double"],
    "comma-dangle": [2, "never"],
    "func-names": 0,
    "space-before-function-paren": [2, "never"],
    "generator-star-spacing": 0,
    "padded-blocks": 0,
    "prefer-const": 0,
    "prefer-template": 0,
    "no-undef": 1,
    "no-var": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "no-console": 1,
    "no-unused-vars": 1,
    "no-trailing-spaces": [1, { "skipBlankLines": true }],
    "no-unreachable": 1,
    "no-alert": 0,
    "react/prefer-es6-class": [2, "never"],
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0,
    "import/imports-first": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default-member": 1,
    "prefer-spread": 0
  },
  "globals": {
    "chrome": true
  }
}
